


        
        
        
        

<div class="WebContainer">
        <body>
         <h1>SAS Broadband Home Wifi Connection & Plans
        </h1>
        <h2>SAS wifi plans - Getting a Wi-Fi connection for the house is the best way to keep all your
           digital devices connected at all times. Pick our newly launched wifi plans starts @499/- only,
            it gives superfast speed upto 40MBPS for your home, stay speedy, always-on connectivity without network problems.</h2>

            <h2>SAS wifi plans also provided fastest speed upto 1Gbps, with unlimited Internet and unlimited STD/Local calls.
               You also get SAS stream box With Amazon Prime, Zee5 and many others included in  best home wifi plans.</h2>

         
          <h1> Popular Plans</h1>

          <div class="container">
          <div class="box">
         <p><b><a style="color:grey"                  [routerLink] ="['/create']">SAS Basic</a></b> </p>
          <p style="color: #ff3366;
          letter-spacing: 1.5px;" >₹499</p>
          <p> 40Mbps</p>
          
          </div>

          <div class="box">
            <p><b><a style="color:grey"                  [routerLink] ="['/create']">SAS Regular</a></b> </p>
             <p style="color: #ff3366;
             letter-spacing: 1.5px;" >₹799</p>
             <p>100Mbps</p>
             
             </div><div class="box">
              <p><b><a style="color:grey"                  [routerLink] ="['/create']">SAS Professional</a></b> </p>
               <p style="color: #ff3366;
               letter-spacing: 1.5px;" >₹999</p>
               <p>300Mbps</p>
               
               </div><div class="box">
                <p><b><a style="color:grey"                  [routerLink] ="['/create']">SAS Infinity </a></b> </p>
                 <p style="color: #ff3366;
                 letter-spacing: 1.5px;" >₹1499</p>
                 <p>1Gbps</p>
                 
                 </div>

<br>




          </div><br><br>
          <div class="suppu"><img src="https://img.icons8.com/color/48/000000/edit-file.png"><br>
           <p  [routerLink] ="['/read']" >Update</p></div>
         
          
          </body>
        </div>





        

























        <!-- <iframe width="10000" height="1500"
src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
</iframe> -->
        <!-- <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div> -->
      
    <!-- </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
